[Unit]
Description=Xremap service
After=gnome-default.target
Requisite=default.target

[Service]
ExecStart=%h/.local/bin/xremap --watch=device %h/.config/xremap/config.yml
Restart=aways

[Install]
WantedBy=default.target
