[Unit]
Description=Xremap bare minimum service
After=default.target
Requisite=default.target

[Service]
ExecStart=%h/.local/bin/xremap --watch=device %h/.config/xremap/config.yml
Restart=always
RestartForceExitStatus=1
RestartSec=1000ms
Type=simple

[Install]
WantedBy=default.target
